@model Yazilimpark.Models.City
@{
    ViewData["Title"] = "City";
}

<div class="container">
    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <label asp-for="Name"></label>
            <span class="badge alert-primary">@Model.Name</span><br />
            <label asp-for="Temperature"></label>
            <span class="badge alert-primary">@Model.Temperature°</span><br />
            <label asp-for="Humidity"></label>
            <span class="badge alert-primary">@Model.Humidity</span><br />
            <label asp-for="Weather"></label>
            <span class="badge alert-primary">@Model.Weather</span><br />
            
        </div>

    </div>
</div>