@model Yazilimpark.Models.SearchByCity

@{
    ViewData["Title"] = "SearchByCity";
}
<div class="container">
    <form method="post">
        <div class="container">
            <h2> Search By City Name</h2>
            <div>
                <input asp-for="CityName" class="form-control" placeholder="Enter cityname" />
                <button asp-controller="Home" asp-action="SearchByCity" class="btn btn-outline-primary"></button>
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>


  