<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/css/random.css">
    <title>Rastgele Söz Uygulaması</title>
</head>
<body>
    <div>
        <h2>Rastgele Söz Uygulaması</h2>
        
        <button id="btn" onclick="RastgeleSoz()">RastgeleSozGetir</button>
        <button id="btn" onclick="TwitterPaylas()">Twitter'da Paylaş</button>

    </div>
    <script src="script.js"></script>

</body>