<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div id="city">
            <h2>Weather Card</h2>
            <form class="form">
                <input type="text" class="input-city">
                <button class="btn"><span class="fa fa-search"></span></button>
            </form>
            <div class="place info">Ankara</div>
            <small class="date info">Tuesday,July 20,2021</small>
            <div class="temp info">35°</div>
            <div class="condition info">Weather</div>
    </div>
        <div id="london">
            <div class="place info">Ankara</div>
            <small class="date info">Tuesday,July 20,2021</small>
            <div class="temp info">35°</div>
            <div class="condition info">Weather</div>
        </div>
        <div id="berlin">
            <div class="place info">Ankara</div>
            <small class="date info">Tuesday,July 20,2021</small>
            <div class="temp info">35°</div>
            <div class="condition info">Weather</div>
        </div>
        <div id="istanbul">
            <div class="place info">Ankara</div>
            <small class="date info">Tuesday,July 20,2021</small>
            <div class="temp info">35°</div>
            <div class="condition info">Weather</div>
        </div>
        <div id="paris">
            <div class="place info">Ankara</div>
            <small class="date info">Tuesday,July 20,2021</small>
            <div class="temp info">35°</div>
            <div class="condition info">Weather</div>
        </div>
            </div>
</body>
