
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(120deg,#ff6b6b,#5f27cd);
    min-height: 100vh;
}


    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#ff4f81,#f0f);
        clip-path: circle(20% at right 80%);
    }

#body {
    width: 100%;
    padding: 30px 15px 15px 15px;
    display: inline-block;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 800px;
    z-index: 1;
}

.card {
    position: relative;
    width: 90%;
    padding: 20px;
    margin: 50px 0px;
    background: rgb(0, 0,0,.8);
    box-shadow: 20px 20px 50px rgba(255,255, 255, .1);
    color: #fff;
    border-radius: 5px;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 3px solid #ff4f81;
}

    .card-header i {
        margin-left: auto;
    }

.card-body {
    padding: 10px 0px;
    height: 600px;
    overflow-x: hidden;
}

.todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255,255, 255, .1);
    border-radius: 5px;
}

    .todo-item li {
        flex-grow: 1;
        font-size: 14px;
        cursor: default;
    }

    .todo-item i {
        font-size: 17px;
        margin: 0px 5px;
        cursor: pointer;
    }

.card-footer {
    padding: 10px 0px;
    display: flex;
}

    .card-footer input {
        width: 100%;
        font-size: 15px;
        line-height: 30px;
        color: #fff;
        padding: 5px 10px;
        border: 0;
        background-color: rgba(255,255, 255, .1);
        border-radius: 5px 0px 0px 5px;
    }

        .card-footer input:focus, .card-footer button:focus {
            outline: 0;
        }

    .card-footer button {
        background-color: #ff4f81;
        color: #fff;
        font-size: 18px;
        border: 0;
        width: 60px;
        border-radius: 0px 5px 5px 0px;
    }

        .card-footer button:hover {
            background-color: #ff6793;
        }

.todo {
    display: flex;
}

.done {
    background-color: rgba(0,0,0,.5);
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}
.input {
    background-color: white;
    border: 1px solid #232524;
    display: inline-block;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-weight: bold;
    outline: none;
}
.btn {
    background-color: #232524;
    border-radius: 20px;
    color: #dbeafe;
    display: inline-block;
    padding: 0.5rem;
    outline: none;
}